.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.searchInput {
  width: 100%;
  height: 24px;

  border: 2px solid #a99aff;
  transition: border-color 250ms linear;

  outline: none;
  border-radius: 8px;
  padding: 0 10px;
  margin: 0 auto;
  font-size: 18px;
}

.searchInput:hover,
.searchInput:focus {
  border-color: #7163c4;
}

@media screen and (min-width: 375px) {
  .searchInput {
    width: 340px;
  }
}
